{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your licence caseload</h1>

  

  
          <h2 class="govuk-heading-m">Release dates approaching</h2>

          <div class="app-application-card">
            <div class="app-application-card__primary">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="answers" class="govuk-link govuk-link--no-visited-state">Richard Curtis</a>
                <span class="app-application-card__caption"> A4145LG
                </span>
              </h3>
              <!--<p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Economics (75GX) – part time at Camberley</p>
              <p class="govuk-!-font-size-16">Endeavour TSA (The Beauchamp Lionheart Training Partnership)</p>-->
              
            </div>
            <div class="app-application-card__secondary">
              <div class="app-application-card__status">
                <strong class="govuk-tag govuk-tag--red govuk-!-margin-bottom-1 govuk-!-font-size-14">
            Urgent
                </strong>  
                  
              <!--<p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Last day to make decision</p>-->
                
                <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">Release: 20 July 2021</p>
              </div>
            </div>
          </div>

          <div class="app-application-card">
            <div class="app-application-card__primary">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="answers" class="govuk-link govuk-link--no-visited-state">Matthew Garcia</a>
                <span class="app-application-card__caption"> A4666LG
                </span>
              </h3>
              <!--<p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Economics (75GX) – part time at Camberley</p>
              <p class="govuk-!-font-size-16">Endeavour TSA (The Beauchamp Lionheart Training Partnership)</p>-->
              
            </div>
            <div class="app-application-card__secondary">
              <div class="app-application-card__status">
                <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-1 govuk-!-font-size-14">
            In progress
                </strong>  
                  
              <!--<p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Last day to make decision</p>-->
                
                <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">Release: 11 August 2021</p>
              </div>
            </div>
          </div>

          <div class="app-application-card">
            <div class="app-application-card__primary">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="answers" class="govuk-link govuk-link--no-visited-state">John Martin</a>
                <span class="app-application-card__caption"> A4245LG
                </span>
              </h3>
              <!--<p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Economics (75GX) – part time at Camberley</p>
              <p class="govuk-!-font-size-16">Endeavour TSA (The Beauchamp Lionheart Training Partnership)</p>-->
              
            </div>
            <div class="app-application-card__secondary">
              <div class="app-application-card__status">
                <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
            New
                </strong>  
                  
              <!--<p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Last day to make decision</p>-->
                
                <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">Release: 20 September 2021</p>
              </div>
            </div>
          </div>

          <div class="app-application-card">
            <div class="app-application-card__primary">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="answers" class="govuk-link govuk-link--no-visited-state">Indra Sakar</a>
                <span class="app-application-card__caption"> A5245LG
                </span>
              </h3>
              <!--<p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Economics (75GX) – part time at Camberley</p>
              <p class="govuk-!-font-size-16">Endeavour TSA (The Beauchamp Lionheart Training Partnership)</p>-->
              
            </div>
            <div class="app-application-card__secondary">
              <div class="app-application-card__status">
                <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1 govuk-!-font-size-14">
           New
                </strong>  
                  
              <!--<p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Last day to make decision</p>-->
                
                <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">Release: 21 November 2021</p>
              </div>
            </div>
          </div>

          

    
          

          <div class="app-application-card">
            <div class="app-application-card__primary">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="/applications/YD3TMD2L" class="govuk-link govuk-link--no-visited-state">Yo-yo Ma</a>
                <span class="app-application-card__caption">A63TMD2L</span>
              </h3>
              <!--<p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Economics (75GX) – part time at Camberley</p>
              <p class="govuk-!-font-size-16">Endeavour TSA (The Beauchamp Lionheart Training Partnership)</p>-->
              
            </div>
            <div class="app-application-card__secondary">
              <div class="app-application-card__status">
                <strong class="govuk-tag app-tag--blue govuk-!-margin-bottom-1 govuk-!-font-size-14">
            Not started
          </strong>
          
                
                  
                    <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Release: 12 December 2021</p>
                  
                
                
                <!--<p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2020 to 2021 (starts 2021)</p>-->
              </div>
            </div>
          </div>

          <div class="app-application-card">
            <div class="app-application-card__primary">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="/applications/YD3TMD2L" class="govuk-link govuk-link--no-visited-state">Blake Watts</a>
                <span class="app-application-card__caption">A63TMD2L</span>
              </h3>
              <!--<p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Economics (75GX) – part time at Camberley</p>
              <p class="govuk-!-font-size-16">Endeavour TSA (The Beauchamp Lionheart Training Partnership)</p>-->
              
            </div>
            <div class="app-application-card__secondary">
              <div class="app-application-card__status">
                <strong class="govuk-tag app-tag--blue govuk-!-margin-bottom-1 govuk-!-font-size-14">
            Not started
          </strong>
          
                
                  
                    <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Release: 19 December 2021</p>
                  
                
                
                <!--<p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2020 to 2021 (starts 2021)</p>-->
              </div>
            </div>
          </div>
          <div class="app-application-card">
            <div class="app-application-card__primary">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="/applications/YD3TMD2L" class="govuk-link govuk-link--no-visited-state">Rodney Miller</a>
                <span class="app-application-card__caption">A63TMD2L</span>
              </h3>
              <!--<p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Economics (75GX) – part time at Camberley</p>
              <p class="govuk-!-font-size-16">Endeavour TSA (The Beauchamp Lionheart Training Partnership)</p>-->
              
            </div>
            <div class="app-application-card__secondary">
              <div class="app-application-card__status">
                <strong class="govuk-tag app-tag--blue govuk-!-margin-bottom-1 govuk-!-font-size-14">
            Not started
          </strong>
          
                
                  
                    <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Release: 22 December 2021</p>
                  
                
                
                <!--<p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2020 to 2021 (starts 2021)</p>-->
              </div>
            </div>
          </div>
          <div class="app-application-card">
            <div class="app-application-card__primary">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                <a href="/applications/YD3TMD2L" class="govuk-link govuk-link--no-visited-state">Leroy Rowe</a>
                <span class="app-application-card__caption">A72TMD2L</span>
              </h3>
              <!--<p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">Economics (75GX) – part time at Camberley</p>
              <p class="govuk-!-font-size-16">Endeavour TSA (The Beauchamp Lionheart Training Partnership)</p>-->
              
            </div>
            <div class="app-application-card__secondary">
              <div class="app-application-card__status">
                <strong class="govuk-tag app-tag--purple govuk-!-margin-bottom-1 govuk-!-font-size-14">
            Not started
          </strong>
          
                
                  
                    <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Release: 22 December 2021</p>
                  
                
                
                <!--<p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">2020 to 2021 (starts 2021)</p>-->
              </div>
            </div>
          </div>

          

          

          
          
  
  
          
  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}