{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}
<form action="/conditions" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
      Complete the licence condition</h1>
      </legend><br>


      <div class="govuk-form-group">

<h2 class="govuk-heading-s">{%if data.shownumbers=="yes"%}3F. {%endif%}Not to have unsupervised contact with [ANY / ANY FEMALE / ANY MALE] children under the age of [INSERT AGE] without the prior approval of your supervising officer and / or [INSERT NAME OF APPROPRIATE SOCIAL SERVICES DEPARTMENT] except where that contact is inadvertent and not reasonably avoidable in the course of lawful daily life.</h2>
<label class="govuk-label" for="1a-answer">
  Which gender?
</label>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <div class="govuk-radios govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="3f-answer-gender-any" name="3f-answer-gender" type="radio" value="any">
            <label class="govuk-label govuk-radios__label" for="3f-answer-gender-any">
              Any
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="3f-answer-gender-female" name="23f-answer-gender" type="radio" value="female">
            <label class="govuk-label govuk-radios__label" for="3f-answer-gender-female">
              Any female
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="3f-answer-gender-male" name="3f-answer-gender" type="radio" value="male">
            <label class="govuk-label govuk-radios__label" for="3f-answer-gender-male">
              Any male
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    <label class="govuk-label" for="1a-answer">
      Which age?
    </label>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <div class="govuk-radios govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="3f-answer-age-16" name="3f-answer-age" type="radio" value="16">
            <label class="govuk-label govuk-radios__label" for="3f-answer-age-16">
              16
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="3f-answer-age-18" name="3f-answer-age" type="radio" value="16">
            <label class="govuk-label govuk-radios__label" for="3f-answer-age-18">
              18
            </label>
          </div>
          <br />
          <div class="govuk-form-group">
            <label class="govuk-label" for="3f-answer-department"">
              What is the social services department?
            </label>
            <input class="govuk-input govuk-input--width-30" id="3f-answer-department" name="3f-answer-department" type="text" autocomplete="3f-answer-department"></div>


        </div>
      </fieldset>
    </div>
                <input type="hidden" name="3f" value="no">
          </div>

      </div>

<button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
</form>
{% endblock %}
