
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Create and vary a licence 
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      

    

      <h2 class="govuk-heading-m">Discovery June 2021</h2>


      <p>First - try borrowing screens from other GDS admin services <a href="prototypes/start/details">Start</a></p>

      <br><br>

      <h2 class="govuk-heading-m">Alpha July 2021</h2>

      <p>Change the process so that probation create the licence <a href="prototypes/alpha/details">Start</a></p>
      <p>Updated with new content <a href="prototypes/alpha-start/details">Start</a></p>
      <p>Version 1.0 UR session: all-purpose (AP) licence <a href="prototypes/caseload/details">Start</a></p>
      <p>Version 2.0 UR session: all-purpose (AP) licence with user feedback changes <a href="prototypes/caseload-standard/details">Start</a></p>
      <p>Version 2.5 Playing: all-purpose (AP) licence with answers <a href="prototypes/caseload-standard-answers/details">Start</a></p>
      <br><br>

      <h2 class="govuk-heading-m">Additional licence conditions</h2>
      <p>Version 3.0 All-purpose (AP) licence with old additional conditions <a href="prototypes/additional/details">Go</a></p>
      

      <p>Version 4.0 UR session: With more detail in additional conditions <a href="prototypes/additional-v2/details">Go</a></p>
      <br><br>
      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
        <li>
          <a href="https://design-system.service.gov.uk">
            GOV.UK Design System
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
